# conf file must be in same directory as script

[json]
app_name = Sophos EventLogs
version = 1.0

[sophos]
url = https://api5.central.sophos.com/gateway

api-key = APIKEY

# Auth String starts with "Basic " then has the string.  The "Basic" must be included
authorization = AUTHSTRING

app_path = /usr/local/sophosEventLogs

